<?xml version="1.0" encoding="UTF-8"?>
<included>

    <springProperty name="INSTANCE_ID" source="spring.cloud.client.ipAddress" defaultValue="127.0.0.1"/>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProfile name="dev,default">
        <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
                <charset>UTF-8</charset>
            </encoder>
        </appender>


        <root level="INFO">
            <appender-ref ref="consoleAppender"/>
        </root>

    </springProfile>

    <springProfile name="test">
        <include resource="file-out.xml"/>
    </springProfile>
    <springProfile name="prod">
        <include resource="file-out.xml"/>
    </springProfile>

</included>